target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
bin/

### Logs / OS ###
*.log
.DS_Store

### Env ###
.env
